body {
  margin: 20px;
  font-family: serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table {
  border-collapse: collapse;
  font-size: 1.2rem;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  width: 70px;
}
td:nth-child(2) {
  text-align: right;
}
